@inject WeeklyTrendingMovieListService WeeklyTrendingMovieListService
@if (_weeklyTrendingMovieList is not null)
{
    <section class="movie-list" aria-label="Weekly Trending Movies">
        <div class="title-wrapper">
            <h3 class="title-large">Weekly Trending Movies</h3>
        </div>

        <div class="slider-list">
            <div class="slider-inner">
                @foreach (var item in _weeklyTrendingMovieList.results)
                {
                    <PageMovieCard watchNow="WatchNowClick" item="item"/>
                }
            </div>
        </div>
    </section>
}

@code{

    [Parameter]
    public EventCallback<int> watchNow { get; set; }

    private async Task WatchNowClick(int id)
    {
        await watchNow.InvokeAsync(id);
    }

}