@inject TopRatedMovieListService TopRatedMovieListService

@if (_topRatedMovieList is not null)
{
    <section class="movie-list" aria-label="Top Rated Movies">
        <div class="title-wrapper">
            <h3 class="title-large">Top Rated Movies</h3>
        </div>

        <div class="slider-list">
            <div class="slider-inner">
                @foreach (var item in _topRatedMovieList.results)
                {
                    <PageMovieCard watchNow="WatchNowClick" item="item"/>
                }
            </div>
        </div>
    </section>
}

@code{

    void WatchNowClick(int id)
    {
        StateContainer.Id = id;
    }

}
