@inject UpComingMovieListService UpComingMovieListService

@if (_upComingMovieList is not null)
{
    <section class="movie-list" aria-label="UpComing Movies">
        <div class="title-wrapper">
            <h3 class="title-large">UpComing Movies</h3>
        </div>

        <div class="slider-list">
            <div class="slider-inner">
                @foreach (var item in _upComingMovieList.results)
                {
                    <PageMovieCard watchNow="WatchNowClick" item="item"/>
                }
            </div>
        </div>
    </section>
}

@code{
    void WatchNowClick(int id)
    {
        StateContainer.Id = id;
    }
}